.bg-container {
    height: 300px;
    width: 300px;
    display: flex;
    background-image: url("Male\ Lion\ Wallpapers\ 1.jpg");
    background-size: cover;
}
.name {
    margin-top: 50px;
    margin-left: 30px;
    width: 100px;
    background-color: rgb(181, 21, 202);
    color: blue;
    font-style: italic;
    font-weight: 25px;

}